@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+SAS:wght@100..400&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap');


* {
    padding: 0px;
    margin : 0px;
    font-family: 'Exo 2', sans-serif;
}

body {
   background: radial-gradient(#013170,#03045e) ;
    position : relative;
    height: 100%;
    width:100vw;
} 

/* HEADER AREA ||| */
header {
    height: auto;
    width:100vw;
    margin-top:15px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title { 
    height:auto;
    width:auto;
    font-size: 30px;
    font-weight: 650;
    color: white;
    font-family: "Playpen Sans Arabic", cursive;
}
.title:hover {
    text-decoration: underline;
}

.discription {
    color: white;
    width: auto;
    text-align: center;
    font-family: 'Exo 2';
}





/* MAIN ELEMENT ||| */
.line {
   
    width: 2px;
    position: absolute;
    top:0px;
    height: 100%;
    left: 50%;
    background-color: white;
}

p {
    font-family: monospace;
    font-size: 16px;
    color: white;
}

main {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    position:relative;
    height: auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: 150px ;  
    grid-gap: 10px;
    grid-template-areas:
        'a1 a2'
        'b1 b2'
        'c1 c2'
        'd1 d2'
        'e1 e2' 
        'f1 f2'
        'g1 g2'
        'h1 h2'
        'i1 i2'
        'j1 j2'
        'k1 k2'
        'l1 l2'
        'm1 m2'
        'n1 n2'
        'o1 o2'
}

.mem p.memory:hover {
    cursor: pointer;
    font-weight: 800;
    text-decoration: underline;
}
.mem p.time {
    text-decoration:1px underline white;
    font-size: 18px;
}

.right {
    justify-self: start;
    align-self: end;
    position: absolute;
   
}

.left {
    
    justify-self: end;
    align-self: end;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right p.memory {
padding-left: 10px;
}

.left p.memory {
margin-right: 10px;
}
.left p.time {
    align-self: flex-end;
}

.memory {
    padding-top: 5px;
    align-self: flex-end;
}
.mem {
    
    width: 470px;
    height: 60px;
    position: relative;
}

/* MEMORY BOXES ||| */
#a1{grid-area: a1;}
#b2{grid-area: b2;}
#c1{grid-area: c1;}
#d2{grid-area: d2;}
#e1{grid-area: e1;}
#f2{grid-area: f2;}
#g1{grid-area: g1;}
#h2{grid-area: h2;}
#i1{grid-area: i1;}
#j2{grid-area: j2;}
#k1{grid-area: k1;}
#l2{grid-area: l2;}
#m1{grid-area: m1;}
#n2{grid-area: n2;}
#o1{grid-area: o1;}


/* POP UP OR MEMORY DISCRIPTION BOX ||| */
.popup {
    height: 200px;
    width: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
   
}

.memtime {
    position: absolute;
    top: 0px;
    margin: 10px;
    font-size: 15px;
    text-decoration: underline;
}

.memtext {
    position: absolute;
    top: 35px;
    margin: 10px;
    font-size: 14px;
}

.delete {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
    bottom:0px;
    right:0px;
    position: absolute;
    background-color: #3d5a80;
    border:0px;

}

.exit {
    position: absolute;
    right: 0px;
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #ae2012 ;
    border: 0px;
}
.exit:hover, .delete:hover {
    background-color: red;
    border: 2px solid white;
    cursor:pointer;
}

.popup-box {
    height: 100px;
    width: 100px;
    background-color: black;
    display: none;
}

/* FOOTER */
footer {
    padding-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
    text-align: center;
}

.pg {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.pg:hover {
    cursor: pointer;
    color: blue;
}

.lk {
    position:fixed;
    color:rgb(255, 255, 255);
    background-color: #013170;
    margin:30px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size:13px;
    z-index: 1;
}

.f {
    top:0px;
    left:50px;
}

.s {
    top:0px;
    right:50px;
}

.lk:hover {
    cursor: pointer;
    border: 2px solid white;
    font-weight: 600;
  
}

@media (max-width: 950px) {
    .introduction {
        width: 90vw;
        height:auto;
    }
    .phoneDiv {
        width: 100vw;
        height:80px;
        padding:0px;
        margin:0px;
        background-color: transparent;
        color:transparent;
    }

 header {
    position: relative;
    height:auto;
 }
.line {display:none;}
 main {
    position:relative;
    width:100vw;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:80vw;
    grid-auto-rows: 15vh ;  
    grid-gap: 10px;
    grid-template-areas:
     "a1"
     "b2"
     "c1"
     "d2"
     'e1'
     'f2'
     'g1'
     'h2'
     'i1'
     'j2'
     'k1'
     'l2'
     'm1'
     'n2'
     'o1'

 }

 .mem {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding:15px;

 }

.mem p.time {
    font-size: 3vw;
}
.mem  p.memory {
    text-align: center;
    align-self: center;
    padding:0px;
    margin:0px;
    font-size: 3vw;
 }

 .right {
    position: absolute;
    width:80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);


   
}

.left {
    position: absolute;
    width:80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.left p.time {
     align-self: center;
}

.popup {
    height:30vh;
    width:80vw;
}
}

.lee {
    font-family: 'Playwrite DE SAS';
}